    body {
        background-color: rgb(44, 252, 254);
        background-image: url("mainInterfaceObjects/background.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        /*filter: blur(3px);*/
        /*filter: blur(0px);*/
        /*transition: filter 0.5s;*/
    }

    h1 {
        font-family: Lobster, Monospace, serif;
        font-size: 650%;
        color: white;
        top: 500px;
    }

    .user-picture {
        height: 8vh;
        width: 8vh;
        border-radius: 50%;
        box-shadow: 0px 0px 7px 2px grey;
    }

    .ghost-button-rounded-corners {
        display: inline-block;
        width: 100px;
        padding: 8px;
        color: rgb(100, 100, 100);
        border: 1px solid #fff;
        border-radius: 5px;
        text-align: center;
        margin-left: 4px;
        outline: none;
        font-size: 110%;
        text-decoration: none;
        font-family: Inconsolata, serif;
        background-color: rgba(256, 256, 256, 0.7);

    }

    .ghost-button-rounded-corners:hover,
    .ghost-button-rounded-corners:active {
        background-color: rgba(256, 256, 256, 0.9);
        color: rgb(100, 100, 100);
    }

    .ghost-button-fully-rounded {
        display: inline-block;
        width: 9vw;
        height: 9vw;
        left: 70%;
        color: rgb(100, 100, 100);
        border: 1px solid #fff;
        border-radius: 100%;
        text-align: center;
        outline: none;
        font-size: 110%;
        text-decoration: none;
        font-family: Inconsolata, serif;
        background-color: rgba(256, 256, 256, 0.7);
        box-shadow: 0px 0px 7px 2px grey;
    }

    .ghost-button-fully-rounded:hover,
    .ghost-button-fully-rounded:active {
        background-color: rgba(256, 256, 256, 0.9);
        color: rgb(100, 100, 100);
    }

    .compose-image {
        position: relative;
        left: 3%;
        top: 7%;
        width: 85%;
        height: 65%;
        alignment: center;
    }
    .rope-image-class{
        background-image:url('mainInterfaceObjects/rope4.png');
        background-repeat: repeat-x;
        background-size: 120vh;
        background-position-x: 0px;
        width: 100%;
        /*transition: background-position-x 0.05s;*/
        height: 100%;
        position: absolute;
        margin-top: 4%;
    }
    .all-signs{
        position: absolute;
        margin-top: 3%;
        /*top: 50%;*/
        width: 100000%;
    }


    .copyright-style {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-family: Tangerine, sans-serif;
        font-size: 200%;
        color: black;
        background-color: transparent;
        text-shadow: 0px 0px 9px 4px grey;
        /*box-shadow: 0px 0px 7px 2px grey;*/
    }

    .my-signs {
        margin-left: 5%;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;

    }
    .sign-container{
        position: relative;
        display: inline-block;
        margin-left: 10vw;
        margin-top: 0;
        float: left;
        width: 20vw;
        height: 40vh;
        cursor: pointer;
    }
    .sign-text{
        position:absolute;
        box-sizing: content-box;
        top: 46%;
        left: 20%;
        text-overflow: ellipsis;
        /*right: 50%; !important;*/
        /*bottom: 50%; !important;*/
        z-index: 3;
        width: 73%;
        height: 1px;
        font-family: 'Baloo', cursive;
        font-size: 1.3vmax;
    }
    .sign-auth-pic{
        top: 33%;
        left: 71%;
        position: absolute;
        z-index: 2;
        height: 3vmax;
        width: 3vmax;
        border-radius: 50%;
        box-shadow: 0px 0px 7px 2px grey;
    }
    .like-container{
        position: absolute;
        z-index: 2;
        left: 17%;
        top: 85%;
        font-size: 1vmax;
    }
    .sign-auth-name{
        overflow: hidden;
        position: absolute;
        box-sizing: content-box;
        white-space: nowrap;
        top: 84%;
        left: 60%;
        text-overflow: ellipsis;
        width: 38%;
        color: gray;
        font-family: sans-serif;
        font-size: 1vmax;
    }
    .my-tags{
        position: absolute;
        top: 45%;
        left: -5%;
        width: 25%;
        height: 15%;
        border-style: none;
        z-index: 2;
    }
    .site-name{
        position: relative;
        top: 50%;
    }
    .small-dot-tag {
        top: 37%;
        left: 40%;
        position: absolute;
        z-index: 2;
        display: inline-block;
        width: 1vw;
        height: 1vw;
        border: 1px solid #fff;
        border-radius: 50%;
        text-align: center;
        outline: none;
        text-decoration: none;
        font-family: Inconsolata, serif;
        opacity: 0.7;
        box-shadow: 0px 0px 1px 1px grey;
    }
    #pageSigns{
        /*transition: left 0.05s;*/
    }
    .dropdown-tag-picker{
        border-style: none;
        background-color: transparent;
        opacity: 1;
        margin-left: 4px;
    }
    .dropdown-tag-picker:hover{
        background-color: rgba(10,10,10,0.2);
        border-radius: 30%;
        /*border-style: solid;*/
    }
    .small-dot-tag:hover,
    .small-dot-tag:active {
        opacity: 0.9;
    }
    .slim-scroll-div{
        position: relative;
        overflow: hidden;
        width: auto;
        height: 317px;
    }
    .popover-content{
        position: absolute;
        border-radius: 5%;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 30;
        left: 25%;
        margin-top: -4%;
        width: 43vw;
        height: 85vh;
        visibility: hidden;
        filter: blur(0px);
        box-shadow: 0px 0px 7px 2px grey;

    }
    .blurred-object{
        transition: filter 1s;
    }
    .popover-head
    {
        font-family: Tangerine,sans-serif;
        text-align: center;
        font-size: 9vh;
    }
    .search-field{
        width:100%;
    }
    .vertical-line{
        width: 1px;
        background-color: black;
        height: 100%;
        float: left;
    }
    .submit-button {
        background-color: #008CBA;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        float: right;
        margin-top: 2%;
        /*margin-bottom: 2%;*/
        /*margin-bottom: 0;*/
        cursor: pointer;
    }
    .popover-button
    {
        position: absolute;
        background-color: #008CBA;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 100%;
        float: right;
        height: 9vh;
        width: 9vw;
        margin-left: 50%;
        bottom: 1%;
        /*margin-bottom: 0;*/
        cursor: pointer;
    }
    .tag-pick-field{
        border: 2px solid #4CAF50;
        border-radius: 5%;
        background-color: transparent;
        color: black;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        /*float: left;*/
        font-size: 100%;
        margin: 4px 2px;
        cursor: pointer;
        height: 9vh;
        width: 10vw;
        transition: background-color 0.5s;
    }

    .tag-pick-field:hover{
        background-color: rgba(255,254,253,0.9);
    }
    table {
        border: none; border-collapse: collapse;
        width: 100%;
        height: 90%;
    }
    table td {
        border-left: 1px solid grey;
    }
    table td:first-child {
        border-left: none;
    }
    .login-form{
        position: absolute;
        border-radius: 5%;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 30;
        left: 35%;
        top: 35%;
        width: 30vw;
        height: 31vh;
        visibility: hidden;
        filter: blur(0px);
        box-shadow: 0px 0px 7px 2px grey;
    }
    .general-input-fields
    {
        margin-left:1%;
        width: 98%;
        margin-top: 9%;
    }
    .close-button{
        margin-left: 2%;
        /*transition: transform 0.5s;*/
    }
    .close-button:hover{
        background-color: rgba(10,10,10,0.2);
        border-radius: 30%;
    }
    .register-form{
        position: absolute;
        border-radius: 5%;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 30;
        left: 35%;
        top: 35%;
        width: 36vw;
        height: 45vh;
        visibility: hidden;
        filter: blur(0px);
        box-shadow: 0px 0px 7px 2px grey;
    }
    .g-recaptcha{
        position:absolute;
        margin-top: 3%;
        /*width: 5vw;*/
        /*height: 10vh;*/
        margin-left: 1%;
        transform-origin: left top;
        box-shadow: 0px 0px 7px 2px grey;
    }
    .tag-pick-field-chosen{
        border: 2px solid #4CAF50;
        border-radius: 5%;
        background-color: transparent;
        color: black;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        /*float: left;*/
        font-size: 100%;
        margin: 4px 2px;
        cursor: pointer;
        height: 9vh;
        width: 10vw;
        transition: background-color 0.5s;
    }

    .tag-pick-field-chosen:hover{
        background-color: rgba(255,0,0,0.2);
    }
    .edit-popover-menu
    {
        display: none;
        position: absolute;
        border-radius: 5%;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 30;
        left: 10%;
        top:9%;
        width: 70vw;
        height: 85vh;
        visibility: visible;
        filter: blur(0px);
        box-shadow: 0px 0px 7px 2px grey;

    }
    .edit-popover-menu-title
    {
        margin-left:3%;
        width: 98%;
        margin-top: 3%;
    }
    .image-Upload-Div
    {
        display: table;
        margin-left: 30%;
        margin-top: -120%;
        background-color: rgba(128, 128, 128, 0.36);
        height: 10vmax;
        width: 10vmax;
        float:left;
        text-align: center;
        color: blue;
        border-radius: 20%;
        cursor: pointer;
    }
    .edit-class
    {
        float: right;
        margin-top: 3%;
        border: 2px solid rgba(255, 255, 255, 0);
        margin-right: 2%;
        width: 50vw;
        height: 60vh;
        font-family: Monospace, cursive;
        font-size: 2.0vmax;
        overflow-y: auto;
    }
    .edit-class:hover{
        border: 2px solid #a8a8a8;
    }
    .edit-class:empty:before {
        content:attr(data-placeholder);
        color:gray
    }
    .edit-summary-field
    {
        margin-left:1%;
        width: 98%;
        margin-top: 2%;
        font-family: 'Baloo', cursive;
        text-align: center;
        font-size: 2.0vmax;
        border: 2px solid rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0.95);
    }
    .edit-summary-field:hover
    {
        border: 2px solid #a8a8a8;
    }
    span {
        display: table-cell;
        vertical-align: middle;
    }
    .edit-button
    {
        display: inline-block;
        width: 20%;
        margin-top: 2%;
        padding: 8px;
        color: rgb(60, 83, 200);
        border: 1px solid #fff;
        border-radius: 5px;
        text-align: center;
        font-size: x-large;
        font-family: Monospace, serif;
        background-color: rgba(173, 173, 173, 0.36);
        bottom:1px;
        box-sizing: content-box;
        margin-left: 9%;
        float: left;
    }
    .edit-button:hover
    {
        background-color: rgba(128, 128, 128, 0.4);
    }
    .detailed-popover-menu
    {
        display: none;
        position: absolute;
        border-radius: 3%;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 30;
        left: 10%;
        top:9%;
        width: 70vw;
        height: 85vh;
        visibility: visible;
        overflow-y: auto;
        filter: blur(0px);
        box-shadow: 0px 0px 7px 2px grey;
    }
    .detailed-title
    {
        margin-left:19%;
        width: 63%;
        margin-top: 2%;
        font-family: 'Baloo', cursive;
        text-align: center;
        font-size: 2.0vmax;
    }
    .detailed-done-button
    {
        position: absolute;
        display: inline-block;
        width: 9.5vw;
        height: 5vh;
        top: 2%;
        left: 82%;
        padding: 8px;
        color: rgb(60, 83, 200);
        border: 1px solid #fff;
        border-radius: 5px;
        text-align: center;
        font-size: x-large;
        font-family: Monospace, serif;
        background-color: rgba(173, 173, 173, 0.36);
        box-sizing: content-box;
    }
    .detailed-done-button:hover
    {
        background-color: rgba(173, 173, 173, 0.56);
    }
    .detailed-remove-button
    {
        position: absolute;
        display: inline-block;
        width: 9.5vw;
        height: 5vh;
        top: 2%;
        left: 3%;
        padding: 8px;
        color: rgb(200, 6, 0);
        border: 1px solid #fff;
        border-radius: 5px;
        text-align: center;
        font-size: x-large;
        font-family: Monospace, serif;
        background-color: rgba(173, 173, 173, 0.36);
        box-sizing: content-box;
    }
    .detailed-remove-button:hover
    {
        background-color: rgba(200, 6, 0, 0.49);
    }
    .detailed-main-image
    {
        margin-top: 1%;
        border-radius: 8%;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        height: 46vh;
    }
    .detailed-article-content
    {
        position: relative;
        border: 2px solid rgba(255, 255, 255, 0);
        margin-left: 2%;
        margin-right: 2%;
        /*height: 25vh;*/
        font-family: Monospace, cursive;
        font-size: 2.0vmax;
        overflow-y: auto;
    }
    .detailed-auth-pic{
        top: 59%;
        left: 1%;
        position: absolute;
        z-index: 2;
        height: 3vmax;
        width: 3vmax;
        border-radius: 50%;
        box-shadow: 0px 0px 7px 2px grey;
    }
    .detailed-auth-name{
        overflow: hidden;
        position: absolute;
        box-sizing: content-box;
        white-space: nowrap;
        top: 61%;
        left: 6%;
        text-overflow: ellipsis;
        width: 38%;
        color: gray;
        font-family: sans-serif;
        font-size: 1vmax;
    }
    .detailed-like-container{
        position: absolute;
        z-index: 2;
        left: 85%;
        top: 61%;
        font-size: 1vmax;
    }
